body{
    background-color: rgb(37,37,59);
}
form{
    border: 2px solid black;
}
label{
    color: white;
    font-size: 25px;
}
h1{
    font-size: 30px;
}
.error{
    color: red;
    font-size: 20px;
}
